<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Agenda Dental</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="Eduardo Moritz" />
<link rel="icon" href="/image/cropped-favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />
      	
<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/material-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/agenda.css" />
</head>
<body>
	<header th:replace="fragments/header :: cabecalho">
		<div>Header</div>		
	</header>
	
	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>Menu</span>
			</nav>
		</aside>
		
		<section layout:fragment="corpo">
			<div>Conteudo principal das paginas</div>
		</section>
	</div>
	
	<footer th:replace="fragments/footer :: rodape">
		<div>Footer</div>
	</footer>


	<!-- 
    ================================================== -->	
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script src="/webjars/popper.js/1.14.6/umd/popper.min.js"></script>
	
	<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
	
	<script type="text/javascript" src="/js/agenda.js"></script>
	<script type="text/javascript" src="/js/agendatwo.js"></script> 	
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	
		//Buttons
		var url = '';
		$('button[id*="btn_"]').click(function() {
			//url = "http://localhost:8000/" + $(this).attr('id').split("_")[1];
			url = "https://agenda-dental.herokuapp.com/" + $(this).attr('id').split("_")[1];
		})
		$('#ok_confirm').click(function() {
			document.location.href = url;
		});		
		$('#niver_mes').click(function() {
			//url = "http://localhost:8000/pacientes/buscar/niver_mes";
			url = "https://agenda-dental.herokuapp.com/pacientes/buscar/niver_mes";
			document.location.href = url;
		});
		$('#niver_dia').click(function() {
			//url = "http://localhost:8000/pacientes/buscar/niver_dia";
			url = "https://agenda-dental.herokuapp.com/pacientes/buscar/niver_dia";
			document.location.href = url;
		});
		
		//Popper
		$(function() {
			$('[data-toggle="popover"]').popover({
				animation: true,
				delay:1,
				html:true,
				placement:'left',
				trigger:'focus'
			});
		});

		//Sidebar
		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
		
		//Alerts
		$().ready(function() {
			setTimeout(function () {
				$('#alert').fadeIn( 300 ).delay( 1500 ).fadeOut( 400 ); 
			}, 2500); 
		});
		
		
	</script>
</body>
</html>